
/* layout*/
body{ background-color: #fff; color: #333}
.wrapper{
  width:100%;
  height: 100%; 
  background-color:#fff;
  background-repeat:  no-repeat;
  background-position:  top center;
  background-size: 100% auto;
 }

.topBanner{ min-height:150px;
 position: relative;
}

.page{
  width:100%;
  height: 100%;
  background-size: 100% auto;
   background-repeat:no-repeat;
}






/*submitText*/

.submitText{ position: absolute; z-index: 999; left: 0; bottom: 0; height: 46px; padding:5px 10px;  background: #293550; width: 100%; -webkit-box-sizing:border-box;}
.submitTextPos{position: absolute;}
.submitText input{ width: 80%; background: #20293E; color: #5F6C7D; border: 0; height: 26px;
line-height: 26px; border-radius:5px; float: left;font-size: .875em; padding: 5px 0;
}
*::-webkit-input-placeholder{color: #5F6C7D;}
.submitText input:first-child{text-indent: 8px;color:#5F6C7D}
.submitText input[type="submit"]{ background:#354468;-webkit-appearance: none; color: #697591; width: 18%; float: right;font-size: .875em;border:1px solid #354468;
 text-align: center;height: 35px; display: inline-block;
}
.submitText.focus input:first-child{text-indent: 8px;color:#ccc}
.submitText.focus input[type="submit"]{background:#1E588D;color: #fff;}

/*reset css thome*/
.submitText{
  background: #302279;
}
.submitText input{background: #fff; color: #333;}
.submitText input[type="submit"]{ background:#564AA1;color: #DCD9E5;
border-color:#564AA1;
}
.submitText.focus input[type="submit"]{background:#1E588D;color: #fff;}


/*scrollMessage*/

.scrollMessage {min-height: 150px;  width: 100%;padding-top: 0px; overflow: hidden;}
.messageInner{position: relative;height: 100%; width: 100%; overflow: hidden;}

.msList{
height: 100%;
white-space: nowrap;
overflow: hidden;
left:0%;
/*-webkit-animation:fade 20s forwards infinite;*/
}
.messageInner button{    width: 94%;
    margin: 20px auto;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    display: block;
    background: #D6D6D6;
    border: 0;}

.msList li{
  position: relative;
  height: 44px; line-height: 44px;
  border-radius:25px 8px 8px 25px; margin-top: 10px;
    max-width: 90%; font-size:.875em;
  background: rgba(0,0,0,.7);color: #A8B4BF;
  
}
.msList li.active{ border-color: #56AEFF; color: #E0B639}

.msList li .userPic{ width: 50px; height: 50px; display: none; border-radius: 50px; overflow: hidden; float: left; position: relative;margin:-3px 10px 0px 0;text-align: center; 
}
.msList li .userPic img{width: 50px; height: 50px; border-radius: 50px;}
.msList li .msText{white-space: nowrap;overflow: hidden; text-overflow:ellipsis; max-width: 80%; line-height: 50px; padding:0 15px;}



.msList_comment li{
  position: relative;
  min-height: 50px; 
  height: auto;
  border-radius:0px;
  max-width: 94%; 
  width: 94%; font-size:.875em;
  margin: 12px auto 0;
  background:#7F85FA;
  color: #10143B;
  
  
}

.msList_comment li .userPic{ display: none; width: 40px; height: 40px; border-radius: 40px; overflow: hidden; float: left; position: relative;margin:5px 10px 0px 3px;text-align: center; 
}
.msList_comment li .userPic img{width: 40px; height: 40px; border-radius: 40px;}
.msList_comment li .msText{white-space:normal;overflow: hidden; text-overflow:ellipsis; max-width: 80%; padding: 5px 0}

/*loading animation*/
.fireAnimation{ width: 81px; height: 99px;margin: 0 auto;
  background-size: 100% 1600%; 

}

@-webkit-keyframes bgAnimation {
 0% {background-position:0 0;}
  100% {background-position:0 -1600%;}
}

.onAnimation{
  -webkit-animation:bgAnimation 0.66666s steps(16) forwards infinite;
  animation:bgAnimation 0.66666s steps(16) forwards infinite;
}


/*userList*/

.userList{ width: 96%; margin: 10px auto; padding-bottom: 36px; }
.userList li{ float: left; width: 48%; background: #1B2232; position: relative; overflow: hidden;padding: 8px 0 8px; margin-bottom: 10px}
.userList li .usnum{ position: absolute; left: 0;top: 0; overflow: visible;
width: 0;z-index: 1;
height: 0;
border-top: 30px solid #435775;
border-right: 30px solid transparent; 
}
.userList li:nth-child(2n){ float: right;}
.userList li .usnum i{ position: absolute; margin: -30px 0 0 0; font-size: .6875em; font-style: normal; z-index: 3; text-align: center; width:16px;font-weight: bold;}
.userList li .usnum:after{ display: block;
content: "";position: absolute;
width: 0;margin: -30px 0 0 0;
height: 0;z-index: 2;
border-top: 25px solid #53698C;
border-right: 25px solid transparent;
}


.userList li.topred .usnum{
border-top-color:#DB422D;
}
.userList li.topred .usnum:after{ 
border-top-color:#F1513B;
}



.userList li .avatar{ width: 60px; height: 60px; border-radius: 60px; overflow: hidden; background: #171D2B; margin:5px 0px 0 6px;}
.userList li.hasAvatarAni .avatar{box-shadow: 0px 0px 5px rgba(193,248,255,0)}

.userList li.hasAvatarAni .avatar{ overflow: hidden;
  -webkit-animation:circleAnimation 2s .8s forwards 3;
  position: relative;z-index: 3;
  /*animation:circleAnimation 2s forwards infinite;*/
}
.userList li.hasAvatarAni .avatar img{ position: relative; margin: 0}
.userList li.hasAvatarAni .avatar img.old{
  -webkit-animation:avatarAni .5s .1s forwards 1;
   z-index: 1; margin:0px 0 0 0 ;
}

.userList li.hasAvatarAni .avatar img.newadd{
  -webkit-animation:changeAni .5s .3s forwards 1;
  margin:60px 0 0 0 ;z-index: 2;
}


@-webkit-keyframes circleAnimation {
 0% {box-shadow: 0px 0px 0px rgba(126,199,219,.5)}
 70% {box-shadow: 0px 0px 5px rgba(126,199,219,.9)}
  100% {box-shadow: 0px 0px 0px rgba(126,199,219,.5)}
}

@-webkit-keyframes  avatarAni{
 0% {margin:0px 0 0 0 ;
opacity: 1; 
 }
 
100% {margin:60px 0 0 0 ;opacity: 0;}
}

@-webkit-keyframes  changeAni{
 0% {margin:60px 0 0 0 ;opacity: 0; }
100% {margin:-120px 0 0 0 ;opacity: 1;}
}

.userList li .avatar img{width: 60px; height: 60px; border-radius: 60px;}
.userList li h3{ color:#9EA7B2;text-align: center;font-weight: normal; }
.userList li h5{ color:#5F6C7D;text-align: center; font-size: .9375em; line-height: 16px; padding-bottom: 6px;font-weight: normal;}
a.support{ background: #D9A03B; color: #684129; height: 20px; line-height: 20px; padding: 2px 6px;font-size: .75em; text-decoration: none;border-radius: 5px 0 5px 0;  display: inline-block;
}

@media screen and (min-width: 375px){
.userList li .avatar{ margin:5px 10px 0 10px}
}

@media screen and (min-width: 414px){
.userList li .avatar{ margin:5px 20px 0 15px}
}
















/*loading Animation*/
.loadingAni{ position: absolute; width: 100%; height: 100%; z-index: 999; left: 0; top: 0; background: #111620; text-align: center;  -webkit-transition:.4s;  display: none}
.loadingAni .inner{width:200px; height:200px;position: absolute; left: 50%;top:50%; margin:-100px 0 0 -100px;}
.loadingAni .inner h4{ font-size: .8125em; line-height: 20px; color: #8991A0}
.fireAnimation{ width: 81px; height: 99px;margin: 0 auto;
  
  background-size: 100% 1600%; 

}
@-webkit-keyframes anirotate {
  0% {
    -webkit-transform:rotate(0deg);}
  100% {
    -webkit-transform:rotate(360deg);}
}
@-webkit-keyframes bgAnimation {
 0% {background-position:0 0;}
  100% {background-position:0 -1600%;}
}

@-webkit-keyframes bgAnimationOut {
  0% {background-position:0px -1600%;}
  100% {background-position:0px -0%;}
}

.onAnimation{
  -webkit-animation:bgAnimation 0.66666s steps(16) forwards infinite;
  animation:bgAnimation 0.66666s steps(16) forwards infinite;
}
.outAnimation{
  -webkit-animation:bgAnimationOut 0.67s steps(16);
  animation:bgAnimationOut 0.67s steps(16);
}

/*******************************
          Transitions
*******************************/

.transition {
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.duration {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}
.duration2 {
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
}

/*******************************
            States
*******************************/
/* Animating */
.animating.transition {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  visibility: visible !important;
}

/* Loading */
.loading.transition {
  position: absolute;
  top: -99999px;
  left: -99999px;
}

/* Hidden */
.hidden.transition {
  display: none;
  visibility: hidden;
}

/* Visible */
.visible.transition {
  display: block !important;
  visibility: visible !important;
  
/*  backface-visibility: @backfaceVisibility;
  transform: @use3DAcceleration;*/
}
/* Disabled */
.disabled.transition {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.looping.transition {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}




.transition.fade.in {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}
.transition[class*="fade up"].in {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}
.transition.fade.out {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}
.transition[class*="fade up"].out {
  -webkit-animation-name: fadeOutUp;
          animation-name: fadeOutUp;
}
.transition.delay{
  animation-delay:500ms;
-webkit-animation-delay:500ms; 

}
.transition.delay2{
  animation-delay:1200ms;
-webkit-animation-delay:1200ms; 
}


/* In */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
/* Out */
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes fadeOutUp1000 {
  0% {
    opacity: 1;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(80%);
            transform: translateY(8%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
/*alert layer*/
.D{ width: 100%; height:100%;background: rgba(0,0,0,.8); position: fixed; left: 0; top: 0; z-index: 999; display:none; }
.Dtop{ position: relative;}
.Dwrap{ width: 94%;border-radius:15px; background: #1F222A;
  position: absolute; left: 50%; top: 50%; margin-left:-47%; text-align: center; padding: 20px 0;
color: #959EA8; overflow: hidden; clear: both;
}
.Dwrap .icon-close{ position: absolute; right: 10px; top: 10px;
   background-size:16px 16px;  width: 32px; height: 32px; font-size: 0;
z-index: 999;}
.Dwrap .Dmain{padding: 12px 0;}
.Dwrap .Dmain p{ font-size: .75em; line-height: 22px}
.Dwrap .Dmain img.yaophone{ margin: 12px auto}
.Dwrap .Dmain h4 { font-size: .875em; font-weight: normal; line-height: 24px}

.Dfooter{padding-top: 0px;}
.Dfooter .btn{ background: #DEB332; height: 33px; line-height: 33px; text-align: center; color: #433D2B; border-radius: 10px; display: inline-block; border: 1px solid #322D1C;
font-size: 1.2em; text-decoration: none; min-width: 32%; font-size: .8125em;
}
.Dfooter .btn:active{ opacity: .8}
.Dfooter .btn.btngray{ background: #353B46; color: #6E757D;border-color:#353B46}

.Dmain dl{ padding:0 20px 15px; text-align: left; font-size: .8125em}
.Dmain dl:last-child{ padding-bottom: 0;}
.Dmain dl dt{ color: #D6B653; border-left:2px solid #DEB332; padding-left: 5px; height: 12px; line-height: 12px;margin-bottom: 3px; }




.footer{ text-align: center; color: #293243; font-size: .625em; padding: 20px 0 20px;
line-height: 20px
}




