
/* layout*/
body{ background-color: #fff; color: #333}
.wrapper{
  width:100%;
  height: 100%; 
  background-repeat:  no-repeat;
  background-position:  top center;
  background-size: 100% auto;
 }

.topBanner{ min-height:150px;max-height: 200px;
 position: relative;
}
.topBanner img{ width: 100%; height: auto; max-height: 200px;}
.page{
  width:100%;
  height: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: top center;
}


/*lotteryBox*/

.lotteryBox{ width: 93.75%; margin: 10px auto;
 padding-bottom: 20px;
}
.lotteryNum{ color: #FFE445; font-size: 1.5em;}
.ltbTitle {font-size: 1em; color: #fff;text-align: center; height: 20px;
line-height: 20px;padding-top: 8px; text-shadow:0 0 3px rgba(0,0,0,.8);
}
.ltbContent{width: 90%;min-height:136px;margin: 0px auto;

}
.ltbImg{ text-align: center; font-size: 0; padding: 5px 0% 5px 1.48%}
.ltbImg li{
  width:31.3333%;
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  height:0;
  font-size:0;
  line-height:0;
  -webkit-box-sizing:border-box;
  padding:0px 0px 33.3333% 0;
  margin-top: 2%;
  margin-right: 2%;
  opacity: .5
  
}

.ltbImg li .coverImg{
position:absolute;
width: 100%; height: 100%;
border-radius: 10px;
-webkit-box-sizing:border-box;
overflow: hidden;
}

.ltbImg li .coverImg img{ width: 100%; height: 100%;
 }
.ltbImg li.active{
  opacity: 1;
}
.ltbImg li#gobtn{opacity: 1}
.ltbImg li.active:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0;top: 0;
  border-radius: 10px;
  border:3px solid #fff;
  -webkit-box-sizing:border-box;
}

.guize{position: absolute;
right: 5%;top: 20%;color: #fff;text-shadow:0 0 3px rgba(0,0,0,.8);
}



/*.goBtn{
z-index: 9;
  position: relative; 
perspective:120;
-webkit-perspective:120;
}*/
a.go,a.go:active{ 
position: absolute;
  color: #fff; font-size: 2em;
text-shadow:0 1px 4px #C80C1E;
position: absolute;
  width: 80px;
  height: 80px;
  line-height: 80px; text-align: center;
  background:#FD556C;
  z-index: 10;
  top: -40%;
  left: 50%;
  margin-left: -40px;
  border-radius: 60px;
  border:2px solid #B4061D;
   display: inline-block;
   text-decoration: none;
box-shadow: 0 0 30px #B4061D inset;
}

.goodluckUser{line-height: 32px; background: rgba(0,0,0,.5);
font-size: .875em; color: #FF7185; height: 32px; overflow: hidden;

}
.goodluckUser h3{
float: left;
width: 25%;
text-align: right;
-webkit-box-sizing:border-box;
}
.goodluckUser .goodluckUserList{ float: right;
width: 75%;height: 32px;overflow: hidden; position: relative;
}
.goodluckUserList ul{ position: absolute; left: 0;top: 0;
-webkit-transform-origin:top left;
-webkit-transition:.4s;
}
.goodluckUser li{ padding: 0px 5px; height: 32px; line-height: 32px; width: 100%;
text-overflow:ellipsis;overflow:hidden;white-space:nowrap;
}

.mylottery {padding-top: 10px;}





/*loading animation*/
.fireAnimation{ width: 81px; height: 99px;margin: 0 auto;
  background-size: 100% 1600%; 

}

@-webkit-keyframes bgAnimation {
 0% {background-position:0 0;}
  100% {background-position:0 -1600%;}
}

.onAnimation{
  -webkit-animation:bgAnimation 0.66666s steps(16) forwards infinite;
  animation:bgAnimation 0.66666s steps(16) forwards infinite;
}





@-webkit-keyframes circleAnimation {
 0% {box-shadow: 0px 0px 0px rgba(126,199,219,.5)}
 70% {box-shadow: 0px 0px 5px rgba(126,199,219,.9)}
  100% {box-shadow: 0px 0px 0px rgba(126,199,219,.5)}
}

@-webkit-keyframes  avatarAni{
 0% {margin:0px 0 0 0 ;
opacity: 1; 
 }
 
100% {margin:60px 0 0 0 ;opacity: 0;}
}

@-webkit-keyframes  changeAni{
 0% {margin:60px 0 0 0 ;opacity: 0; }
100% {margin:-120px 0 0 0 ;opacity: 1;}
}

.userList li .avatar img{width: 60px; height: 60px; border-radius: 60px;}
.userList li h3{ color:#9EA7B2;text-align: center;font-weight: normal; }
.userList li h5{ color:#5F6C7D;text-align: center; font-size: .9375em; line-height: 16px; padding-bottom: 6px;font-weight: normal;}
a.support{ background: #D9A03B; color: #684129; height: 20px; line-height: 20px; padding: 2px 6px;font-size: .75em; text-decoration: none;border-radius: 5px 0 5px 0;  display: inline-block;
}

@media screen and (min-width: 375px){
.userList li .avatar{ margin:5px 10px 0 10px}
}

@media screen and (min-width: 414px){
.userList li .avatar{ margin:5px 20px 0 15px}
}
















/*loading Animation*/
.loadingAni{ position: absolute; width: 100%; height: 100%; z-index: 999; left: 0; top: 0; background: #111620; text-align: center;  -webkit-transition:.4s;  display: none}
.loadingAni .inner{width:200px; height:200px;position: absolute; left: 50%;top:50%; margin:-100px 0 0 -100px;}
.loadingAni .inner h4{ font-size: .8125em; line-height: 20px; color: #8991A0}
.fireAnimation{ width: 81px; height: 99px;margin: 0 auto;
  
  background-size: 100% 1600%; 

}
@-webkit-keyframes anirotate {
  0% {
    -webkit-transform:rotate(0deg);}
  100% {
    -webkit-transform:rotate(360deg);}
}
@-webkit-keyframes bgAnimation {
 0% {background-position:0 0;}
  100% {background-position:0 -1600%;}
}

@-webkit-keyframes bgAnimationOut {
  0% {background-position:0px -1600%;}
  100% {background-position:0px -0%;}
}

.onAnimation{
  -webkit-animation:bgAnimation 0.66666s steps(16) forwards infinite;
  animation:bgAnimation 0.66666s steps(16) forwards infinite;
}
.outAnimation{
  -webkit-animation:bgAnimationOut 0.67s steps(16);
  animation:bgAnimationOut 0.67s steps(16);
}

/*******************************
          Transitions
*******************************/

.transition {
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.duration {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}
.duration2 {
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
}

/*******************************
            States
*******************************/
/* Animating */
.animating.transition {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  visibility: visible !important;
}

/* Loading */
.loading.transition {
  position: absolute;
  top: -99999px;
  left: -99999px;
}

/* Hidden */
.hidden.transition {
  display: none;
  visibility: hidden;
}

/* Visible */
.visible.transition {
  display: block !important;
  visibility: visible !important;
  
/*  backface-visibility: @backfaceVisibility;
  transform: @use3DAcceleration;*/
}
/* Disabled */
.disabled.transition {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.looping.transition {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}




.transition.fade.in {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}
.transition[class*="fade up"].in {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}
.transition.fade.out {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}
.transition[class*="fade up"].out {
  -webkit-animation-name: fadeOutUp;
          animation-name: fadeOutUp;
}
.transition.delay{
  animation-delay:500ms;
-webkit-animation-delay:500ms; 

}
.transition.delay2{
  animation-delay:1200ms;
-webkit-animation-delay:1200ms; 
}


/* In */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
/* Out */
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes fadeOutUp1000 {
  0% {
    opacity: 1;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(80%);
            transform: translateY(8%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
/*alert layer*/
.D{ width: 100%; height:100%;background: rgba(0,0,0,.8); position: fixed; left: 0; top: 0; z-index: 999; display:; }
.Dtop{ position: relative;}
.Dwrap{ width: 94%;border-radius:15px; background:rgba(31,34,42,.9);
  position: absolute; left: 50%; top: 50%; margin-left:-47%; text-align: center; padding: 20px 0;
color: #959EA8; overflow: hidden; clear: both;
}

.Dwrap .icon-close{ position: absolute; right: 10px; top: 10px;
  background: url(../../img/lottery/ico_close.png) center no-repeat;
   background-size:16px 16px;  width: 32px; height: 32px; font-size: 0;
z-index: 999;}
.Dwrap .Dmain{padding: 12px 0;}
.Dwrap .Dmain p{ font-size: .75em; line-height: 22px}
.Dwrap .Dmain img.yaophone{ margin: 12px auto}
.Dwrap .Dmain h4 { font-size: .875em; font-weight: normal; line-height: 24px}

.Dfooter{padding-top: 0px;}
.Dfooter .btn{ background: #9600CD; height: 33px; line-height: 33px; text-align: center; color: #fff; border-radius: 16px; display: inline-block; 
font-size: 1.2em; text-decoration: none; min-width: 32%; font-size: .8125em;
}
.Dfooter .btn:active{ opacity: .8}
.Dfooter .btn.btngray{ background: #353B46; color: #6E757D;border-color:#353B46}

.Dmain dl{ padding:0 20px 15px; text-align: left; font-size: .8125em}
.Dmain dl:last-child{ padding-bottom: 0;}
.Dmain dl dt{ color: #D6B653; border-left:2px solid #DEB332; padding-left: 5px; height: 12px; line-height: 12px;margin-bottom: 3px; }
.Dmain dl dd,.Dmain dl ol,.Dmain dl ul{ margin: 0; padding: 0}


.DwrapLottery{ color:#fff;  width: 80%;margin-left: -40%;}
.DwrapLottery h2{ padding-top: 40px;}
.DwrapLottery h4{ color:#1ABCEF}
.DwrapLottery h6{ color:#F09513}
.DwrapLottery .Dtop{min-height: 100px; color: #FF3508}
.DwrapLottery #lotteryimg{ display:inline-block;}

.lotteryInfo input{ height: 34px; line-height: 24px; margin-bottom: 5px;
 width: 80%; border-radius: 5px; border:0; text-indent: 5px;
}

.footer{ text-align: center; color: #293243; font-size: .625em; padding: 20px 0 20px;
line-height: 20px
}




