html, body {
    -webkit-user-select: none;
    user-select: none;
    -webkit-text-size-adjust:none;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,blockquote,th,td,header,footer,nav,article,section{margin:0;padding:0}
header,footer,nav,article{display:block}
table{border-collapse:collapse;border-spacing:0}
img{border:0; vertical-align:top}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1{font-size:2em;font-weight:normal;}
h2{font-size:1.5em;font-weight:normal;}
h3{font-size:1em;font-weight:normal;}
h4{font-size:.875em;font-weight:normal;}
h5{font-size:.75em;font-weight:normal;}
h6{font-size:.6875em;font-weight:normal;}
body{ font:16px/1.5 "Helvetica Neue", Helvetica, STHeiTi,sans-serif;overflow-x:hidden; }
input,textarea,select,button{outline:none;resize:none;}
button{line-height:1.231;white-space:nowrap;vertical-align:middle;cursor:pointer}
a, img {-webkit-touch-callout: none;}
a{text-decoration:none;outline:none;cursor:pointer;-webkit-tap-highlight-color:transparent; -webkit-user-select: none; -webkit-focus-ring-color:transparent;}
a:active{text-decoration:underline;outline:none;-webkit-tap-highlight-color:transparent;}

/*common*/
.clearfix:after{content:' ';clear:both;display:table;height:0;visibility:hidden;line-height:0}
.hide{ display: none}
.lineClip{display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical}
.line2{-webkit-line-clamp:2}
.line3{-webkit-line-clamp:3}
.left{float: left;}
.right{ float: right;}
.text-left{ text-align: left;}
.text-center{ text-align: center;}
.text-right{ text-align: right;}
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}

.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}

.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}

.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}

.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}

.pr5{padding-right: 5px;}
.pr10{padding-right: 10px;}

.pb5{padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}

.pl5{padding-left: 5px;}
.pl10{padding-left: 10px;}

@font-face {
  font-family: 'superabbit';
  src: url("fonts/icons.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

i.icon {
  display: inline-block;
  opacity: 1;
  margin: 0;
  width: 1.18em;
  height: 1em;
  font-family: 'superabbit';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
i.icon:before {
  background: none !important;
}
i.icon.heart:before {
  content: "\f004";
}