.icons-sprite, .icon-cart, .icon-house {
  background-image: url('../img/sprites-icons.png');
  background-repeat: no-repeat;
}

.icon-cart {
  background-position: 0 0;
  height: 42px;
  width: 44px;
}

.icon-house {
  background-position: 0 -44px;
  height: 43px;
  width: 46px;
}

.icon-cart {
  -webkit-background-size: 23px 44px;
  background-size: 23px 44px;
  width: 22px;
  height: 21px;
  background-position: 0 0;
}

.icon-house {
  -webkit-background-size: 23px 44px;
  background-size: 23px 44px;
  width: 23px;
  height: 22px;
  background-position: 0 -22px;
}
